/* A collection of stylesheets used by all the webpages. */
@import url(navbar.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: #EEE;
  margin: 0px; /* Prevents margins / empty borders appearing around webpage in some browsers */

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  --btn-color-standard: #EEE;
  --btn-color-standard-2: #DEDEDE;
  --btn-color-confirm: #ffcd00;
  --btn-color-confirm-2: #ffbf00;
  --default-border-radius: 7px;
}


main {
  width: 97%;
  margin: 2rem auto auto auto;
}

/* Universal standard styling for buttons - often overwritten by other selectors, but is useful in avoiding unnecessary verbosity. */
button {
  padding: 0.5em;
  transition: background-color 0.3s;
  border-radius: var(--default-border-radius);
}
/* Already included in body, but selector doens't apply to some paragraphs, e.g. those inside buttons. */
p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Desktop displays */
@media (min-width: 1100px) {
  main {
    max-width: 60%;
  }
}