header {
  width: 100%; /* Ensure the header spans the full width of the page */
}

.navbar {
  width: 100%;
  min-height: 3rem; /* Set minimum height for consistent appearance */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute items evenly with spacing */
  align-items: center; /* Vertically align items */
  z-index: 999; /* Ensure navbar appears above other elements */
  font-size: 1.2rem;
  background: #ffcd00;
}

.navbar ul {
  padding: 0px;
  list-style: none; /* Remove default list styling */
  display: flex; /* Align list items horizontally */
  gap: 1rem; /* Add space between list items */
  margin: 0px;
}

.navbar ul a {
  color: #000;
  text-decoration: none;
  padding: 1em; /* Add padding for better clickability */
}
