.profile-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #FFF;
  padding: 1rem;
  max-width: 35rem;
  left: 50%;
  transform: translateX(-50%);
  position: relative;

  border-radius: var(--default-border-radius);
}
.profile-form__error-message {
  margin: 0px;
  color: red;
}
.profile-form__error-message:empty {
  display: none;
}

.profile-form__title {
  margin: 0px;
}

.profile-form__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.profile-form__text {
  width: 70%;
  background: #FFF;
  padding: 0.5em;
  border-radius: var(--default-border-radius);
  border: 2px solid #DDD;
}

.profile-form__submit {
  background-color: var(--btn-color-confirm);
  transition: background-color 0.3s;
  border-radius: var(--default-border-radius);
  border: 2px solid var(--btn-color-confirm-2);
  padding: 0.5em;
}
.profile-form__submit:hover {
  background-color: var(--btn-color-confirm-2);
}
.profile-form__subtext {
  margin: 0px;
}
.profile-form__link {
  font-weight: bold;
  color: var(--btn-color-confirm-2);
}

.register {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(251, 251, 251);
  border: none;
  border-radius: var(--default-border-radius);
  padding: 1rem;
  z-index: 999;
  width: 90%;
  max-width: 900px;
  max-height: 85vh;
  overflow-y: auto; 
  scrollbar-width: none;
}
.register::-webkit-scrollbar {
  display: none;
}
.register h2{
  padding-left: 0.5em;
}
.register__form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  padding: 20px;
  align-items: center;
}
.register__form label {
  text-align: left;
  font-weight: bold;
}
.register__form small {
  text-align: left;
  grid-column: span 2;
  width: 100%;
}
.register__form select:not([multiple]) {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none; 
}
.register__form textarea,
.register__form label,
.register__form input,
.register__form select,
.form__checkbox-list {
  box-sizing: border-box;
  padding: 10px;
  font-size: 1em;
  border-width: 0 0 2px;
  border-color: var(--btn-color-standard);
  border-radius: 5px;
  width: 100%; 
}
.register__form textarea:focus,
.register__form input:focus,
.register__form select:focus {
  outline: none;
  border-width: 0 0 2px;
  border-color: var(--btn-color-confirm);
  transition: border-color 0.3s ease;
}
.register__form section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.register__form input#input-photo {
  display: none;
}

.form__button {
  font-size: 1em;
  background-color: var(--btn-color-standard);
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: var(--default-border-radius);
  transition: background-color 0.3s ease;
}
.form__button:hover {
  background-color: var(--btn-color-confirm-2);
}
.form__button#photo {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__button#submit,
.form__button#cancel {
  padding: 10px 15px;
  display: flex;
  width: 90%;
  text-decoration: none;
  justify-content: center;
  gap: 10px;
  font-size: 1em;
  border-radius: var(--default-border-radius);
  border: none;
  cursor: pointer;
}
.form__button#submit{
  width: 95%;
}

a {
  color:black;
  text-decoration: none;
}

.register__form section {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 50px;
}

.form__button#cancel:hover {
  background-color: var(--btn-color-standard-2);
}

.form__photo-preview {
  display: none;
  border-radius: var(--default-border-radius);
  max-width: 50px;
  max-height: 50px;
}

.form__checkbox-list {
  position: flex;
  display: flex;
  align-items: right;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  background-color: white;
  border-width: 0 0 2px;
  border-color: var(--btn-color-standard);
  border-radius: 5px;
  max-height: 120px; 
  overflow-y: auto;
  overflow-x: hidden;
}
.form__checkbox-list label {
  padding: 0;
}
.form__checkbox-list input {
  position: relative;
  bottom: 20px;
  left: 40%;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  font-size: 1em;
  animation: fadeout 3s forwards;
  z-index: 1000;
}

@keyframes fadeout {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@media (max-width: 900px) {
  .register {
    width: 100%;
    height: 100%;
  }
  .register__form {
    grid-template-columns: 1fr;
  }
}