.profile-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #FFF;
  padding: 1rem;
  max-width: 35rem;
  left: 50%;
  transform: translateX(-50%);
  position: relative;

  border-radius: var(--default-border-radius);
}
.profile-form__error-message {
  margin: 0px;
  color: red;
}
.profile-form__error-message:empty {
  display: none;
}

.profile-form__title {
  margin: 0px;
}

.profile-form__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.profile-form__text {
  width: 70%;
  background: #FFF;
  padding: 0.5em;
  border-radius: var(--default-border-radius);
  border: 2px solid #DDD;
}

.profile-form__submit {
  background-color: var(--btn-color-confirm);
  transition: background-color 0.3s;
  border-radius: var(--default-border-radius);
  border: 2px solid var(--btn-color-confirm-2);
  padding: 0.5em;
}
.profile-form__submit:hover {
  background-color: var(--btn-color-confirm-2);
}
.profile-form__subtext {
  margin: 0px;
}
.profile-form__link {
  font-weight: bold;
  color: var(--btn-color-confirm-2);
}